@use "variables/size";

html {
  scroll-behavior: smooth;
  scroll-padding-top: size.$header-height;
}

main {
  padding-top: size.$header-height;
}

li {
  list-style: none;
}

.site-title {
  width: 160px;
  line-height: 1px;
  padding: 10px 0;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;

  ul {
    margin-bottom: 30px;
  }

  p {
    text-align: justify;
  }
}

.wrapper:first-child {
  margin-top: 10px;
}

.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}

#header {
  width: 100%;
  height: size.$header-height;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;

  ul {
    display: flex;
    padding: 10px 0;

    li {
      margin-left: 30px;
    }
  }
}
